.newActivity {
    position: relative;
    top: 60px;
    margin: 8px;
    padding: 8px 8px;
    height: 52px;
    min-width: 100px;
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
    color: white;
    background-color: #15ce9a;
    border: unset;
    border-radius: 6px;
    box-sizing: border-box;
}

.newActivity:hover {
    box-shadow: 0px 11px 16px rgba(47, 250, 108, 0.2);
    color: white;
}
